<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <ul>
      {{#each celebrities}}
        <li>
          <a href="/celebrities/{{ this._id }}">
            {{ this.name }}
          </a>
          - {{ this.occupation }}
          <a href="/celebrities/{{ this._id }}/edit">
            Edit
          </a>
          <form action="/celebrities/{{ this._id }}/delete" method="POST">
            <button> Delete </button>
          </form>
        </li>
      {{/each}}
    </ul>

    <a href = "/celebrities/new">
      Click here to add a new celebrity
    </a>
  </body>
</html>