<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{title}}</h1>
<ul>

<li> Name:{{ celebrity.name }} </li>
<li> Occupation: {{ celebrity.occupation }}</li>
<li> Catchphrase:{{ celebrity.catchPhrase }} </li>

</ul>

      <a href = "/celebrities">
        Back to Celebrity Inventory
      </a>
  </body>
</html>